<h2>CAC KENH YOUTUBE CHO HOC TAP</h2>
<hr>

<div class="media object">
<ul class="list-group">
	<li class="list-group-item">
		<h3>Bai Giang Dai So</h3>
		<iframe style="padding-left: 10%" width="640" height="360" src="https://www.youtube.com/embed/BW-vuvSqRyE?list=PLm0RVEt7mXipztXag0f4o7KGzc1Z3AFoM" frameborder="0" allowfullscreen></iframe>
	</li>
	<li class="list-group-item">
		<h3>Video Hay</h3>
		<iframe style="padding-left: 10%" width="640" height="360" src="https://www.youtube.com/embed/WPupklufuPQ" frameborder="0" allowfullscreen></iframe>
	</li>
	<li class="list-group-item">
		<h3>Giup Ban Tot Hon</h3>
		<iframe  style="padding-left: 10%" width="640" height="360" src="https://www.youtube.com/embed/AKfMcByHXfQ" frameborder="0" allowfullscreen></iframe>
	</li>			
</ul>
</div>