<h2>Our channel Youyube</h2>
<hr>
<div class="media">
	<%= link_to "Trang chu", 'https://www.youtube.com/channel/UCM7FTcrsCU2NpQ7ywJ3vemw/featured' %>
</div>
<div class="media">
<iframe width="640" height="360" src="https://www.youtube.com/embed/zLmhjxT7lh8" frameborder="0" allowfullscreen></iframe>
</div>